.cart-items-container {
    height: 92%;
}

.cart-items-container ul {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
}

.cart-items-container ul::-webkit-scrollbar {
    width: 5px;
    display: block;
}

.cart-items-container ul::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 8px;
}