.main-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.user-page-info-container {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

.user-page-info-container .user-info-box {
    color: #464646;
}

.user-page-info-container h3:nth-child(2) {
    margin-top: 10px;
}

.user-page-info-container .logout-btn-box {
    align-self: flex-end;
}

.user-page-info-container form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.user-page-info-container form div {
    display: flex;
    align-items: flex-start;
}

.user-page-info-container form button {
    margin-left: 10px;
    padding: 7px 15px;
}

.user-page-info-container form input {
    padding: 8px;
    background-color: whitesmoke;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 3px;
}

.user-page-info-container input:focus {
    border: 1px solid #1976d2;;
    background-color: white;
}

.user-page-info-container input::placeholder {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .main-wrapper {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 730px) {
    .user-page-info-container {
        width: 100%;
    }
}