* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}